/* header .site-title {
    margin: 10px;
} */

/* header */

.site-title {
    display: inline-block;
}

header div h1 {
    font-weight: 900;
    font-size: 30px;
    padding: 10px;
    padding-left: 40px;
}

nav {
    float: right;
    padding: 20px;
    padding-right: 40px;
}

nav ul {
    list-style-type: square;
}

nav ul li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

/* main */

main {
    position: relative;
    width: 100%;
    height: 500px;
}

form {
    width: 500px;
    height: 350px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}